<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-resposiv">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Rezept Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" 
            class="btn btn-primary dropdown-toggle">Rezepte Verwalten
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Zu Shopping List hinzufügen</a></li>
            <li><a href="#">Rezept Bearbeiten</a></li>
            <li><a href="#">Rezept löschen</a></li>
        </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Beschreibung
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Zutaten
    </div>
</div>
